#page-header {
    background-color: black;
    color: white;
}

#city-search {
    border: black solid 2px;
    padding: 20px;
}

#today-weather {
    height: 60%;
    border: black solid 2px;
    padding: 20px;
}

#forecast-section {
    height: 40%;
    border: black solid 2px;
    padding: 20px;
}

input {
    margin-bottom: 10px;
}

.city-list {
    border: black solid 2px;
    padding: 10px;
}

.float-right {
    padding: 0px;
}

.uvInfo {
    width: fit-content;
}